.header {
    background-image: url("../../images/Index_file/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__bg {
    background-color: transparent;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__logo {
    display: inline;
}

.header__logo__med {
    display: none;
}

.header__nav {
    margin-left: auto;
}

.nav__black {
    color: black !important;
}

.nav__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 30px;
}

.nav__item {
    padding: 2px 0;
    transition: 0.3s ease;
    border-bottom: 1px solid transparent;

    &:hover {
        border-bottom: 1px solid #D8B152;
    }
}

.nav__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width:565px) {
    .header__logo {
        display: none;
    }
    .nav {
        display: none;
    }

    .header__logo__med {
        width: 130px;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 60px;
        margin-left: auto;
    }

    .hamburger span {
        display: block;
        height: 2px;
        width: 60px;
        background-color: #D8B152;
        margin-bottom: 5px;

        &:nth-child(2) {
            width: 44px;
        }
    }
}