.hero__inner {
    padding: 25px 0 345px 0;
}

.header__bg {
    background-image: none;
    background-color: transparent;
}

.hero__info {
    display: flex;
    align-items: center;
}

.hero__title {
    margin: 0;
    font-weight: 600;
    font-size: 56px;
    line-height: 140%;
    color: #FFFFFF;
}

.hero__infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 260px;
    width: 100%;
    margin-left: 44px;
}

.hero__text {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.hero__btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background-color: #D8B152;
    padding: 18px 0;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        border: 1px solid  #D8B152;
        color: #D8B152;
        background-color: transparent;
    }
}

@media only screen and (max-width:565px) {
    .hero__inner {
        padding: 25px 0 415px 0;
    }

    .hero__info {
        display: flex;
        align-items: self-start;
        flex-direction: column;
    }

    .hero__infos {
        display: flex;
        margin-left: 0;
    }

    .hero__title {
        font-weight: 600;
        font-size: 25px;
        line-height: 140%;
        color: #FFFFFF;
        margin-bottom: 27px;
        text-align: start;
    }

    .hero__infos {
        max-width: 100%;
    }

    .hero__text {
        margin-bottom: 20px;
        text-align: start;
    }
}