.servisec__inner {
    padding: 120px 0;
}

.servisec__title {
    font-weight: 600;
    font-size: 46px;
    line-height: 63px;
    color: #424242;
    margin-top: 0;
    margin-bottom: 60px;
}

.servisec__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 40px;
}

.servisec__item {
    max-width: 360px;
    width: 100%;
    padding: 161px 45px;
    background-image: url("../images/Index_file/Servisec.png");
    background-repeat: no-repeat;
    background-size: 360px 360px;
    text-align: center;
    transition: 0.3s ease;

    &:nth-child(2) {
        padding: 116px 45px;
        background-image: url("../images/Index_file/Servisec-3.png");
    }

    &:nth-child(3) {
        background-image: url("../images/Index_file/Servisec-2.png");
    }
}


.servisec__text {
    display: block;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
}

.servisec__links {
    text-decoration: none;
}

.servisec__span {
    display: block;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
}

.servisec__btn {
    display: block;
    padding: 18px 0;
    max-width: 260px;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background-color: #D8B152;
    border: 1px solid transparent;
    transition: 0.2s ease;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        border: 1px solid #D8B152;
    }
}

@media only screen and (max-width:565px) {
    .servisec__inner {
        padding: 80px 0;
    }

    .servisec__title {
        font-size: 25px;
        line-height: 34px;
        margin-bottom: 40px;
    }

    .servisec__list {
        flex-direction: column;

    }

    .servisec__item {
        padding: 137px 15px;
        margin-bottom: 30px;

        &:nth-child(2) {
            padding: 92px 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}