.xoll__inner__title{  
    margin: 0; 
    margin-bottom: 50px;
    font-style: normal;
font-weight: 600;
font-size: 46px;
line-height: 63px;
color: #424242;
}  
 
.xoll__inner{ 

    display: flex; 
     justify-content: space-between;
   align-items: center; 
   margin-bottom: 51px;
}
.xoll__inner__blog{ 

    width: 100%; 
    max-width: 860px; 
    margin-right: 40px;
} 
.xoll__inner__text{ 

   width: 540px; 
   font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #424242;
} 
.xoll__inner__subtitle__blocks{ 

    display: flex; 
    justify-content: space-between; 
   align-items: center;
}  
.xoll__inner__img__activ{ 

    margin-right: 40px;
} 
.xoll__inner__img__activ{ 

    width: 260px; 
    height: 170px;
} 
.xoll__inner__img{ 

    width: 260px; 
    height: 293px;
} 

.xoll__inner__tex{ 

    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #424242;
    margin-bottom: 50px;
} 
.xoll__inner__images{ 
     width: 100%; 
     max-width: 1400px; 
     margin: 0 auto;
    margin-bottom: 120px;
}